name: matrix-tests
run-name: matrix-pytest
on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        versions: ["3.11", "3.12", "3.13"]
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - run: pip3 install -r requirements.txt && pytest   

